*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid #000;
  position: relative; /*c3 için gerekli*/
}

/* 1 - Flexbox ile*/
.c1 {
  background: salmon;
  display: flex;
  justify-content: center; /* Yatay merkezleme */
  align-items: center; /* Dikey merkezleme */
}

/* 2- Grid ile */
.c2 {
  background: lightblue;
  display: grid;
  place-items: center; /* Hem yatay hem dikey merkezleme */
}

/* 3- Position ve Transform */
.c3 {
  background: lightgreen;
}
.c3 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
/* 4- Line-height ve text-align ile*/

.c4 {
  background: khaki;
  height: 400px; /* Container'ın yüksekliği */
  line-height: 400px; /* Container'ın yüksekliği ile aynı */
  text-align: center; /* Yatay merkezleme */
}
.c4 h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; /* Satır yüksekliğini sıfırla */
}

/* 5- Table-cell ve Vertical-align */
.c5 {
  background: sandybrown;
  display: table; /*c5 i tablo gibi görünmesi için*/
  width: 400px;
  height: 400px;
}

.c5 h1 {
  display: table-cell; /*Tablonun içindekinin hücre gibi davranması için*/
  vertical-align: middle;
  text-align: center;  /* Yatay merkezleme */
}
/* 6- Flexbox ve Margin-auto */
.c6 {
  background: slateblue;
  display: flex;
}
.c6 h1 {
  margin: auto;
}


